/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/

/******************************************************************************/
// Colors

// Colors used 
$white: #FFFFFF !default;
$black: #000000 !default;
$red: #b51818 !default;
$blue: #000335 !default;
$blue-1: #003884 !default;
$orange: #CB410B !default;
$orange-1: #F58426 !default;
$orange-2: #FFEEE6 !default;
$yellow : #fffffd !default;

// Background colors
$body-color: $blue !default;   
$body-bg: $yellow !default;
$link-color: $orange !default;
$link-decoration: inherit !default;
$input-bg: $yellow !default;
$popover-bg: $orange !default;
$navbar-bg: $yellow !default;
$sidebar-bg: $yellow !default;
$footer-bg: $yellow !default;

// Code blocks colors
$code-block-border-left: $orange !default;
$code-block-border-left-style: solid;
$code-block-border-left-size: 5px;
$code-block-padding-left: 0.1em ; // Gap between border and code block
$code-block-bg: $orange-2 ; 
$btn-code-copy-color: $orange ; 
$btn-code-copy-color-active	: $blue ; 
$code-bg : $orange-2 !default; 
$code-color : $blue !default; 

//Table of content
$toc-color : $orange; 

/******************************************************************************/

// Fonts

// Fonts used

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zalando Sans Expanded:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Font type  
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500 !important;
  font-style: normal;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400 !important;
  font-style: normal;
  
}

h3 {
  font-family: 'IBM Plex Mono', sans-monospace;
  font-weight: 300 !important;
  font-style: normal;

}

h4 {
  font-family: 'IBM Plex Mono', sans-monospace;
  font-weight: 200 !important;
  font-style: normal;
}

h5 {
  font-family: 'IBM Plex Mono', sans-monospace;
}

p {
  text-align: start;
  font-weight: 350;
}

div.quarto-about-jolla main {
	text-align: left !important;
}

div.quarto-post .body h3.listing-title, div.quarto-post .body .listing-title.h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    font-family: 'IBM Plex Mono';
}

.quarto-title-meta-heading {
  font-family: 'IBM Plex Mono', monospace !important; /* Author & Published*/
  font-weight: 700 !important;
  font-size: 2em;
}

.quarto-title-meta-contents { 
  font-family: 'IBM Plex Mono', monospace; /* Nom de l'auteur */
}

.quarto-title-meta .date {
  font-family: 'IBM Plex Mono', monospace;  /* Date dans l'article */
}

.nav-footer-left {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 300 !important;/* ©2025 Gabriel AMMOUR */
}

.nav-footer-center {
  font-family: 'IBM Plex Mono', monospace; 
  font-weight: 300 !important; /* Made with <3 and Quarto */
}


.nav-footer-right {
  font-family: 'IBM Plex Mono', monospace; /* Made with <3 and Quarto */
  font-weight: 300 !important;
}

// Font size 
$font-size-base: 1.1rem !default; 

$h1-font-size: 3.2rem !default;
$h2-font-size: 1.6rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.8rem !default;

$toc-font-size:  1.1rem !default;

$btn-font-size-sm: 1.2rem !default; // Police navbar

/******************************************************************************/

/*-- scss:rules --*/

// Gabriel AMMOUR
.main {
  font-size: 1.3rem;
  font-family: "IBM Plex Mono";
  color: $orange;
  border: 1px solid $yellow;
  padding: 10px;
  background-color: $yellow;
}

// Navbar
.navbar {
  font-size: 1rem;
  font-family: "IBM Plex Mono";
  font-weight: 200;
  color: $orange;
  border: 0px solid $orange;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: .5px;
  border-right-width: .5px;
  border-left-color: $blue;
  border-right-color: $blue;
  border-bottom-color: $yellow;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: $yellow;
}

b, strong {
	font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: $orange;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $blue !important; /* Remplace "blue" par la couleur souhaitée */
    text-decoration: none; /* Optionnel : ajoute un soulignement */
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: $blue;
}

 
// Welcome to my blog
.title {
  font-size: 3rem ;
  font-family: 'IBM Plex Mono';
  color: $orange;
  background-color: $yellow;
  font-weight: 200 !important;
}

.quarto-title-block .quarto-title-banner {
    background: $yellow;
}

.quarto-title-banner .quarto-title .title {
	font-weight: 500;
}

.quarto-title-banner {
	padding-top: 2.5em;
	padding-bottom: 0em;
}

div.quarto-post {
    display: flex;
    gap: none;
    margin-bottom: none;
    border-bottom: none;
}

div.quarto-post a {
    color: $orange;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#quarto-margin-sidebar .quarto-listing-category {
	font-size: 1rem;
	font-family: IBM Plex Mono;
	font-weight: lighter;
}

div.quarto-post a:hover {
    color: $blue !important; /* Remplace "blue" par la teinte exacte si nécessaire */
    text-decoration: none; /* Optionnel : ajoute un soulignement au survol */
}

/* Photo sur la page d'accueil*/
div.quarto-about-jolla img.round {
	border-radius: 100%;
}

h2, .h2 {
    border-bottom: none ;
    padding-bottom: none ;
}

a:hover {
    color: $blue;
}

#quarto-appendix.default {
    border-top: 1px solid $blue;
}

#quarto-back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    border-radius: .25rem;
    box-shadow: 0 .2rem .5rem #6c757d,0 0 .05rem #6c757d;
    color: $blue;
    text-decoration: none;
    font-size: .9em;
  
    text-align: center;
    left: 50%;
    padding: .4rem .8rem;
    transform: translate(-50%, 0);
}


.left-foot {
  color: $orange;
  font-size: 1rem;
  
}

.footer {
  color: $orange;
  border-top: none;
  background-color: $white;
}

body .nav-footer {
    border-top: none;
}

.quarto-body a {
  text-decoration: none;
}

.animated-title {
  display: inline-block;
  animation: flipTitle 4s infinite;
}

@keyframes flipTitle {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}

.quarto-title .quarto-categories .quarto-category {
	padding: .2em .5em;
	font-size: .65em;
	text-transform: uppercase;
	border: solid 1px;
	border-radius: .2rem;
	opacity: 0;
	font-family: IBM Plex Mono;
}

.panel-caption, .figure-caption, figcaption {
	color: #000335;
}


.card {
	position: relative;
	/* display: flex; */
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid #000335;
	border-radius: 1.5rem;
}

.card-body {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	padding: 1rem 1rem;
	background-color: #cb410b12;
	border-radius: 1.5rem;
}

.listing-date {
	font-family: "IBM Plex Mono",monospace;
	color: #CB410B;
	font-weight: 200 !important;
  font-size: .8em;
}

.title-block {
  background-color: #cb410b12;
  font-size: 15px;
  border-radius: 1.5rem;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	border-radius: 1.5rem;
}

.img-text {
    padding: 1em;
    margin: auto;
  }

.text-block {
  padding: 2em 2em 2em 2em;
  p {
    margin: auto
  }
}

.text-block + .text-block {
  margin-top: 2rem;
}


p {
  margin: 0;
}

h1, .h1, h2, .h2 {
	opacity: .9;
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: 600;
}
