/*-- scss:functions --*/
@function colorToRGB ($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/*-- scss:defaults --*/

// Define colors

$white: #FFFFFF !default;
$blue-1: #006BB6 !default;
$blue: #1F610A !default;
$orange-1: #F58426 !default;
$orange-2: #FFEEE6 ;
$orange: #FF6900 ;
$black: #000000 !default;

// Background

$body-color: $blue !default;   
$body-bg: $white !default;
$link-color: $blue !default;
$input-bg: $white !default;
$popover-bg: $blue !default;


$navbar-bg: $white !default;
$sidebar-bg: $blue !default;
$footer-bg: $white !default;

// Code blocks

$code-block-border-left: $orange !default;
$code-block-border-left-style: solid;
$code-block-border-left-size: 5px;
$code-block-padding-left: 0.1em ; // Gap between border and code block
$code-block-bg: $orange-2 ; 
$btn-code-copy-color: $orange ; 
$btn-code-copy-color-active	: $blue ; 
$code-bg : $orange-2 !default; 
$code-color : $blue !default; 

// Table of content

$toc-color : $orange; 

// Fonts

$font-family-sans-serif: -"Helvetica Neue" !default;


$font-size-base: 1.1rem !default; // Police d'écriture texte

$h1-font-size: 3.2rem !default;
$h2-font-size: 1.6rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.8rem !default;

$toc-font-size:  1.1rem !default;

$btn-font-size-sm: 1.2rem !default; // Police navbar

/*-- scss:rules --*/

.navbar {
  font-size: $btn-font-size-sm;
  font-family: "Helvetica Neue";
  color: $orange;
  border: 0px solid $orange;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: .5px;
  border-right-width: .5px;
  border-left-color: $blue;
  border-right-color: $blue;
  border-bottom-color: $white;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: $white;
}

.title {
  font-size: 3.2rem;
  color: $orange;
}

.main {
  font-size: 2rem;
  color: $orange;
  border: 1px solid $white;
  padding: 10px;
  background-color: $white;
}

.left-foot {
  color: $orange;
  font-size: 1rem;
  
}

.footer {
  color: $orange;
  border-top: 20px solid $orange;
  background-color: $white;
}
